@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  box-sizing: border-box;
}

p{
  text-align: justify;
  font-family:'Open Sans', sans-serif;;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.minuaturas_estilo:hover{
  color: white;
  background-color: #592B2B;
}
/*#Contenedor_carrusel{
  height: 150px;
}*/
/*
 * Custom translucent site header
 */
 
 .site-header {
   width: 100%;
    background-color: #224459;
    /*-webkit-backdrop-filter: saturate(180%) blur(20px);*/
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #B8CCD9;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  h2{
    color: #3E6E8C;
  }

  .color_cad{
    background-color: #592B2B;
    color: white;
  }

  .btn_registrar{
      border-color: #592B2B;
      color: white;
      background-color: #592B2B;
  }

  .btn_registrar2{
    border-color: #224459;
    color: #B8CCD9;
    background-color: #224459;
}
  .btn_registrar:hover{
    background-color: #fff;
    color: #224459;
  }

  .btn_registrar2:hover{
    background-color: #fff;
    color: #224459;
  }

  .btn_tabla{
    border-color: white;
    color: white;
    background-color: #592B2B;
  }

  .btn_tabla:hover{
    border-color: #592B2B;
    color: #592B2B;
    background-color: white;
  }

  .btn_registrar:hover{
    background-color: #fff;
    color: #592B2B;
  }

  .nav_bar{
    color:white;
    background-color: #224459;
  }
  .div_contactos{
    text-align: center;
  }
  .botones_contacto{
    color: #224459;
    border:0;
    background-color: white;
  }
  .botones_contacto:hover{
    color: white;
    border:0;
    background-color: #224459;
  }
  .card_soporte{
    background-color: #224459; 
    border-radius: 5px;
    width:110px;
    height:130px;
    margin: 1rem;
  }
  .color-text-titles{
    color: #592B2B;
  }

 .page-link{
   color: #224459;
 }
  
  .page-item.active .page-link{
    background-color: #224459;
    border-color: #224459;
    color: white;
  }

  table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before{
    background-color: #224459!important;
  }
  
  table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before{
    background-color: #592B2B!important;
  }

  .btn_comboNormal{
    background-color: #224459;
    color: white;
  }

  .btn_Normal{
    background-color: #224459;
    color: white;
  }

  .btn_Normal:hover{
    background-color: white;
    color: #224459;
    border-color: #224459;
  }

  .btnCrearCuenta{
    background-color: darkturquoise;
    color: white;
  }

  .divImagenMedidas{
    margin-left: 800px;
    width: 350px;
    height: 430px;
    position: absolute;
  }

  .moverImagen{
    animation-name: moverse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .moverRegreso{
    animation-name: moverse_reves;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .divDatosInicio{
    margin-left: 0px;
    width: 800px;
    height: 430px;
    position: absolute;
    opacity: 100;
  }

  .divDatosRegistro{
    opacity: 0;
    margin-left: 350px;
    width: 800px;
    height: 430px;
    position: absolute;
  }

  .divShadow{
    width: 1150px;
    height: 430px;
  }

  .elementoOculto{
    position: absolute;
    opacity: 0;
  }

  .elementoVisible{
    position: absolute;
    opacity: 100;
  }

  .textoOculto{
    position: absolute;
    opacity: 0;   
    margin-left: 35px;
    margin-top: -18px;
  }

  .textoVisible{
    position: absolute;
    opacity: 100;
    margin-left: 35px;
    margin-top: -18px;
  }

  .aparece{
    animation-name: aparecer;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .desaparece{
    position: absolute;
    opacity: 100;
    animation-name: desaparecer;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .boton{
    margin-left: 75px;
    margin-top: 260px;
    width: 180px;
    height: 50px;
  }

  @keyframes moverse {
    0%{
      margin-left: 800px;
    }
    100%{
      margin-left: 0px;
    }
  }

  @keyframes moverse_reves {
    0%{
      margin-left: 0px;
    }
    100%{
      margin-left: 800px;
    }
  }

  @keyframes aparecer {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 100;
    }
  }

  @keyframes desaparecer {
    0%{
      opacity: 100;
    }
    100%{
      opacity: 0;
    }
  }
    /*Estilos Login*/
    .btn-submit{
      border-color: #592B2B;
  
      color: white;
      background-color: #592B2B;
      
  }
  .btn-submit:hover{
      background-color: #fff;
      color: #224459;
      
      font-weight: bold;
      
  }
  .colors{
      color: #224459;
  }
  .div-padre{
      width: 900px;
      height: 500px;
      margin: 90px auto;
      border-radius: 25px;
      border: solid rgb(192, 192, 192) 1px;
      background: white;
    
  }
  .div_form2{
      width: 300px;
      margin-left: 400px;
      z-index: 3;
      background: white;
      text-align: center;
      justify-content: center;
      align-items: center;
  
  }
  .div_form1{
      width: 450px;
      height: 500px;
      transform: translatey(-422px);
      background: white;
      border-radius: 0 25px 25px 0;
  
      margin-right: 0;
      z-index: 2;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
  
  }
  .welcome{
      width: 450px;
      height: 500px;
      position: absolute;
      transform: translatey(-1px);
      display: flex;
      margin-left: -1px;
      background:#3E6E8C;
      background-size: 300%;
      border-top-left-radius: 25px;
      border-end-start-radius: 25px;
      background-repeat: no-repeat;
      text-align: center;
      justify-content: center;
      align-items: center;
      z-index: 1;
  }
  .bodyRegistro{
      margin-top: 15px;
      display: flex;
      background: url("../img/5417730.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 100vh;
      background-size: 140%;
  
  }
  
  .animacion{
      animation-name: desplazar;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
  }
  .letras2{
      position: absolute;
      opacity: 0;
      top: -40px;
  }
  .letras1{
      
      z-index: 1;
  }
  .animacion3{
      animation-name: desplazar3;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-timing-function: cubic-bezier(0, 1.23, 1, 1);
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
  }
  
  
  .animacion4{
      animation-name: desplazar4;
      animation-duration: 1.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
  }
  .letrasmover{
      animation-name: moverletras;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      z-index: 1;
  }
  @keyframes moverletras{
      0%{
  
      }
      100%{
          opacity: 0;
      }
  }
  .letrasmover2{
      animation-name: moverletras2;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      z-index: 1;
  }
  @keyframes moverletras2{
      0%{
  
      }
      50%{
          opacity: 1;
      }
      100%{
          top: 170px;
          opacity: 1;
          
      }
  }
  
  .letrasmover3{
      animation-name: moverletras3;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      z-index: 1;
  }
  @keyframes moverletras3{
      0%{
  
      }
      50%{
          opacity: 0;
      }
      100%{
          top: -44px;
          opacity: 0;
          
      }
  }
  @keyframes desplazar{
      0%{
          margin-left: -1;
      }
      20%{
          transform: scaleX(1.2);
          border-radius: 0;
      }
      59%{
          transform: scale(1);
          
      }
      100%{
          margin-left:450px;
          border-top-left-radius: 0;
          border-end-start-radius: 0;
          border-end-end-radius: 25px;
          border-top-right-radius: 25px;
          
      }
      
  }
  @keyframes desplazar4{
      0%{
          margin-left:450px;
  
      }
      10%{
          transform: scaleX(1.2);
          border-radius: 0;
          
      }
      60%{
          transform: scale(1);
      }
      
      100%{
          margin-left: -1;
          border-radius: 25px 0 0 25px;
      }
      
  }
  
  @keyframes desplazar2{
      0%{
  
      }
      50%{
          opacity: 0;
      }
      100%{
          margin-left:300px;
          border-end-end-radius: 25px;
          border-top-right-radius: 25px;
          z-index: 2;
          opacity: 0;
      }
      
  }
  @keyframes desplazar3{
      0%{
          margin-left:400px;
      }
      25%{
          opacity: 1;
          
      }
      100%{
          margin-left:0;
          border-top-left-radius: 25px;
          border-end-start-radius: 25px;
          z-index: 2;
          opacity: 1;
      }
      
  }
  @keyframes desplazar5{
      0%{
          margin-left:0;
      }
      100%{
          margin-left:400px;
          z-index: 3;
          opacity: 0;
      }
      
  }
  .animacion5{
      animation-name: desplazar5;
      animation-duration: 1.5s;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
  }
  .header-registro{
    position: absolute;
    
  }