@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  box-sizing: border-box;
}

p{
  text-align: justify;
  font-family:'Open Sans', sans-serif;;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/*#Contenedor_carrusel{
  height: 150px;
}*/
/*
 * Custom translucent site header
 */
 
 .site-header {
    background-color: #224459;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #B8CCD9;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  h2{
    color: #3E6E8C;
  }

  .color_cad{
    background-color: #224459;
    color: white;
  }

  .btn_registrar{
      border-color: #B8CCD9;
      color: #B8CCD9;
      background-color: #224459;
  }

  .btn_inicio_sesion{
    color: #224459;
    background-color: white;
  }

  .btn_registrar:hover{
    background-color: #fff;
    color: #224459;
  }

  .btn_inicio_sesion:hover{
    color: white;
    background-color: #224459;
    text-decoration: underline;
  }

  .nav_bar{
    color:white;
    background-color: #224459;
  }
